@charset "UTF-8";
@font-face {
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-regurar.otf");
}

p {
	text-align: justify-all;
	text-indent: 50px;
}
a { /*formatação para todo tipo de link */
	color: blue;
	text-decoration: none;
}
A:hover { /* sublinha o link ao passar o propusor do mouse */
	text-decoration: underline;
}
div#interface {
	width: 1150px; /* delimita a largura */
	background-color: #ffffff; /* cor de fundo */
	margin: 0px auto 0px auto; /* espaço externo do objeto */
	box-shadow: 0px 0px 10px rgba(0,0,0,.5); /* sombra nas margens */
	padding:85px; /* espaço interno do objeto */
}
header#cabecalho img#icone {
	position: absolute;
	left:1100px;
	top:50px;
}
header#cabecalho {
	border-bottom:2px #606060 solid; /*linha que separa o cabe�alho */
	height: 160px; /* altura do cabe�alho */
	background: url("_imagens/glass-logo-peq.jpg") no-repeat 10px 100px; /*logomarca no cabe�alho e deslocamento horizontal e vertical */
}
header#cabecalho h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 30px;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0, .6);
	padding: 0px;
	margin-top: -80px;
}
header#cabecalho h2 {
	font-family: Arial, sans-serif;
	color: #888888:
	font-size: 15pt;
	padding: 0px;
	margin-top: 10px;
}

/* Formata��o de imagens com legenda */

figure.foto-legenda:hover span {
	opacity: 0;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0,0,0,.3);
	font-size: 9pt;
	line-height: 370px;
	padding: 5px;
}
figure.foto-legenda:hover figcaption {
    opacity: 1;
    
}

figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption{
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

/*Formata��o do Menu*/

nav#menu {
	display:block; /*faz menu flutuar*/
	
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase; /* deixa em maiuscula*/
	position:absolute;
	top: -1px;
	left: 600px;

}
nav#menu li {
	display: inline-block; /* faz o bloco ser exibido em uma mesma linha */
	background-color: #dddddd; /* sbreado no bot�o menu*/
	padding: 10px; /* Controla espaço dentro do objeto, tamanho dos botonhes*/
	margin: 2px; /* distancia entre um bot�o e outro*/
	transition: background-color 2s; /* tempo para o botão mudar de cor */ 
}
nav#menu li:hover{ /*efeito ao passar o mouse por cima do botão */
    transition-duration: 1s;
}
nav#menu h1 {
	display: none; /*esconde a palavra menu principal */
}
nav#menu a { /* configura todos os objetos que tem link ancora a */
	color: #000000;
	text-decoration:none;
}
nav#menu a:hover {
	color: #ffffff;
	text-decoration:underline; /* sublinha o link ao passar o mouse por cima */
}
section#corpo { /* sess�o principal */
	display: block;/* mostra como bloco */
	width: 550px;
	float: left; /* flutua pelo lado esquerdo */
	border-right: 2px solid #606060; /* cria uma linha a direita do section divide o site ao meio */
	padding-right: 15px; /* configura a parte interna do objeto */
}
article#noticia-principal h2 {
	font-size: 13pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}
header#cabecalho-artigo h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;
}
header#cabecalho-artigo h2 {
	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff;
	margin: 0px;
}
header#cabecalho-artigo h3 {
	font-size: 12px;
	color: #606060;
}
.direita { /* formatação da class direita do h3 */
	text-align: right; 
}
table#tabelaspec { /* tr é a linha, td é a celula */
	border: 2px solid #606060; /* borda externa da tabela */
	border-spacing: 0px; /* espaço entre as celulas */
	margin-left: auto; /* centraliza a tabela */
	margin-right: auto; /* centraliza a tabela */
}
table#tabelaspec td {
	border: 2px solid #606060;
	padding: 10px; /* espaço interno de todos os objetos */
	text-align: center; /* alinhamento testo da tabela */
	vertical-align: middle;
}
table#tabelaspec td.ce {
	color: #ffffff;
	background-color: #606060;
	vertical-aling: top;
	font-weight: bold; /* negrito */
	text-align: right; /* alinhamento do conteudo da esquerda da tabela */
}
table#tabelaspec td.cd {
	background-color: #cecece;
	text-align: left; /* alimento do conteudo do lado direito da tabela */
}
table#tabelaspec caption {
	color: #888888;
	font-size: 13pt;
	font-weight: bolder;
}
table#tabelaspec caption span { /* formatação da data encima da tabela */
	display: block;
	float: right;
	color: #000000;
	font-size: 8pt;
	margin-top: 10px;
}
aside#lateral { /* conteudo lateral */
	display: block;
	width: 550px;
	float: right;
	background-color: #dddddd;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5); /* sombra em volta do aside */
}
aside#lateral h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
}
aside#lateral h2 {
	background-color: #606060;
	font-size: 13pt;
	color: #ffffff;
	padding: 10px;
}
footer#rodape {
	clear: both; /*limpa a configuração dos dois lado e faz com que o rodape apareça fora da divisão*/
	border-top: 2px solid #606060; /* cria uma alinha acima do rodape */
}
footer#rodape {
	text-align: center; /* centraliza o rodape */
}